.grid-works {
  padding-top: 40px;

  @media (min-width: @breakpoint-xl) {
    padding-top: 80px;
  }
}

.grid-works__list {
  & + & {
    margin-top: 48px;

    @media (min-width: @breakpoint-xl) {
      margin-top: 80px;
    }
  }
}

.grid-works__item {
  @media (min-width: @breakpoint-lg) {
    width: 33.33%;
  }

  &--large {
    @media (min-width: @breakpoint-lg) {
      width: 66.66%;
    }
  }
}

.grid-works__nav {
  overflow: hidden;
  clip-path: inset(0 0 19px 0);
  margin-bottom: -20px;
}

.grid-works__tag {
  display: flex;
  margin-right: -8px;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 20px;

  label {
    display: flex;
  }

  input {
    .visually-hidden;
  }

  input:checked + span {
    border-color: #1B64FA;
    color: #1B64FA;
  }

  li {
    white-space: nowrap;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:last-child {
      padding-right: 8px;
    }

    &:hover {
      color: @body-color;
      border-color: @body-color;
    }
  }
}

.grid-works__frame {
  border: 1px solid #98A5B1;
  padding: 8px 22px;
  padding-top: 8px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 34px;
  color: #98A5B1;
  font-size: 1.125rem;
  line-height: 1.175rem;
  font-weight: 500;
  cursor: pointer;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
  transition-property: color, border-color;

  span {
    margin-left: 4px;
  }
}
