.showreel {
  background-color: #fff;
}

.showreel__container {
  position: relative;
  cursor: none;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.showreel__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .vjs-big-play-button {
    width: 96px;
    height: 96px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: #fff;
    align-items: center;

    .vjs-icon-placeholder {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;

      &::before {
        content: 'play';
        font-size: 1.375rem;
        line-height: 1.375rem;
        font-weight: bold;
        text-transform: uppercase;
        font-family: @text-font-family;
        color: @body-color;
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: auto;
        height: auto;
        transform: translate(-50%, -50%);
      }
    }
  }

  .vjs-poster {
    background-size: cover;
    cursor: none;
  }

  @media (min-width: @breakpoint-xl) {
    .vjs-big-play-button,
    .vjs-control-bar {
      display: none;
    }
  }
}

.showreel__target {
  position: absolute;
  top: 0;
  left: 0;
  width: 140px;
  height: 140px;
  margin-top: -70px;
  margin-left: -70px;
  background-color: #fff;
  border-radius: 50%;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: @breakpoint-xl - 1px) {
    display: none;
  }
}

.showreel__play {
  .showreel__container--active & {
    display: none;
  }
}

.showreel__pause {
  display: none;

  .showreel__container--active & {
    display: block;
  }
}
